<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">

	<link rel="shortcut icon" type="image/ico"  href="/cfpimages/golden-ticket.png" />

	<title>College Fast Pass</title>

	<script src="./assets/vendor/jquery/jquery.min.js" language="JavaScript" type="text/javascript"></script>
	<script src="https://unpkg.com/vue@2.6.12/dist/vue.js"></script>
	<script src="https://unpkg.com/vuex@3.6.2/dist/vuex.js"></script>

	<script src="./assets/js/cfp.js" language="JavaScript" type="text/javascript"></script>
	<link rel="stylesheet" type="text/css" href="./assets/css/cfp.css">

	<script src="./assets/js/datastore.js" language="JavaScript" type="text/javascript"></script>
	<script src="./assets/js/vueSearch.js" language="JavaScript" type="text/javascript"></script>
	<link rel="stylesheet" type="text/css" href="./assets/css/search.css">

	<link rel="stylesheet" href="assets/vendor/w3schools/w3.css">


<style>
	.grid-container {
		width: 100%;
		/*border: thin red solid;*/
		display: grid;
		/*grid-template-columns: 1fr 330px 1fr;*/
		grid-template-columns: 1fr 330px 40px 700px 1fr;
		align-items: top;
	}
</style>

</head>

<body>


<!-- Navigation -->
<div id="nav"></div>

<!-- Page Content -->

	<div id="vueSearch" class="grid-container">

		<div class="griditem"></div>

		<div id="searchOptions" class="griditem">

			<div class="label"><strong>School Name:</strong></div>
			<div>
				<input class="searchInput" id="keyword" type="text" size="14" v-model="keyword" v-on:keyup="getSchools" />
				<button @click="test">Search</button>
			</div>

			<div class="section" onclick="toggle('admissions')">Admissions Criteria</div>
			<div id="admissions">
				<div class="label">Acceptance Rate:</div>
				<div class="searchcontainer" style="height: auto;">
					<span style="float:left; width: 140px"><input id="population" type="checkbox" value="AL" /> &lt;10%</span>
					<span style="float:left; width: 140px"><input id="population" type="checkbox" value="AL" /> 10%-20%</span>
					<span style="float:left; width: 140px"><input id="population" type="checkbox" value="AL" /> 20%-30%</span>
					<span style="float:left; width: 140px"><input id="population" type="checkbox" value="AL" /> 30%-40%</span>
					<span style="float:left; width: 140px"><input id="population" type="checkbox" value="AL" /> 40%-50%</span>
					<span style="float:left; width: 140px"><input id="population" type="checkbox" value="AL" /> 50%-60%</span>
					<span style="float:left; width: 140px"><input id="population" type="checkbox" value="AL" /> 60%-80%</span>
					<span style="float:left; width: 140px"><input id="population" type="checkbox" value="AL" /> 80%+</span>
				</div>

				<!-- <div class="label">Test Scores:</div> -->
				<!-- <div class="searchcontainer" style="height:auto"> -->
					<!-- <div class="label">SAT</div>
					<table border="0" cellspacing="0" cellpadding="8" width="100%">
						<tr valign="top">
						<td width="110px"><div class="label" style="margin: -4px 0px 0px -5px;"><input class="testscores" type="radio" value="sliderSATcomp" checked /> Composite:</div><div id="amount" /></div></td>
							<td width="100%" align="center"><div id="sliderSATcomp" class="ui-state-disabled"></div>
							<div style="margin-top:4px;"><input type="input" id="satcomp" class="sliderText" /></div></td>
						</tr>
						<tr valign="top">
							<td><div class="label" style="margin: -4px 0px 0px -5px;"><input class="testscores" type="radio" value="sliderSATmath" /> Math:</div><div id="amount" /></div></td>
							<td width="100%" align="center"><div id="sliderSATmath" class="ui-state-disabled"></div>
							<div style="margin-top:4px;"><input type="input" id="satmath" class="sliderText" /></div></td>
						</tr>
						<tr valign="top">
							<td><div class="label" style="margin: -4px 0px 0px -5px;"><input class="testscores" type="radio" value="sliderSATebrw" /> EBRW:</div><div id="amount" /></div></td>
							<td width="100%" align="center"><div id="sliderSATebrw" class="ui-state-disabled"></div>
							<div style="margin-top:4px;"><input type="input" id="satebrw" class="sliderText" /></div></td>
						</tr>
					</table>
					<div class="label">ACT</div>
						<table border="0" cellspacing="0" cellpadding="8" width="100%">
							<tr valign="top">
								<td width="110px"><div class="label" style="margin: -4px 0px 0px -5px;"><input class="testscores" type="radio" value="sliderACTcomp" /> Composite:</div><div id="amount" /></div></td>
								<td width="100%" align="center"><div id="sliderACTcomp" class="ui-state-disabled"></div>
								<div style="margin-top:4px;"><input type="input" id="actcomp" class="sliderText" /></div></td>
							</tr>
						</table> -->
					<!-- </div> -->
				<!-- </div> -->


				<div class="section" onclick="toggle('community')">Community</div>
				<div id="community">
					<div class="label">School Size:</div>
					<div class="searchcontainer" style="height: auto;">
						<input id="population" type="checkbox" value="AL" /> Very Small (<1,000 students)
						<br /><input id="population" type="checkbox" value="AL" /> Small (1,000-2,000 students)
						<br /><input id="population" type="checkbox" value="AL" /> Medium (2,000-5,000 students)
						<br /><input id="population" type="checkbox" value="AL" /> Large (5,000-10,000 students)
						<br /><input id="population" type="checkbox" value="AL" /> Very Large (10,000+ students)
					</div>
					<div class="label">School Setting:</div>
					<div class="searchcontainer" style="height: auto;">
						<input id="population" type="checkbox" value="AL" /> Urban
						<br /><input id="population" type="checkbox" value="AL" /> Suburban
						<br /><input id="population" type="checkbox" value="AL" /> Rural
					</div>
				</div>



				<!-- <input class="searchInput" id="keyword" type="text" size="14" v-model="keyword" v-on:keyup="getSchools" />
				<button @click="test">Search</button> -->

				<div class="section" onclick="toggle('location')">Location</div>
				<div id="location">
					<div class="label">State(s):</div>
					<div id="conState" class="searchcontainer">
						<input id="AL" type="checkbox" value="AL" v-model="state" @click="getSchools" /> Alabama
						<br /><input id="AK" type="checkbox" value="AK" v-model="state" @click="getSchools" /> Alaska
						<br /><input id="AR" type="checkbox" value="AR" v-model="state" @click="getSchools" /> Arkansas
						<br /><input id="CA" type="checkbox" value="CA" v-model="state" @click="getSchools" /> California
						<br /><input id="CO" type="checkbox" value="CO" v-model="state" @click="getSchools" /> Colorado
						<br /><input id="GA" type="checkbox" value="GA" v-model="state" @click="getSchools" /> Georgia
						<br /><input id="HI" type="checkbox" value="HI" v-model="state" @click="getSchools" /> Hawaii
						<br /><input id="IL" type="checkbox" value="IL" v-model="state" @click="getSchools" /> Illinois
					</div>
					<div style="float:right" onclick="allToggle('conState')">Show all states</div>
					<div class="label">Region(s):</div>
					<div class="searchcontainer">
						<input id="region" type="checkbox" value="AL" /> Northeast
						<br /><input id="region" type="checkbox" value="AK" /> Mid-Atlantic
						<br /><input id="region" type="checkbox" value="AK" /> Southeast
						<br /><input id="region" type="checkbox" value="CA" /> Midwest
						<br /><input id="region" type="checkbox" value="CO" /> Southwest
						<br /><input id="region" type="checkbox" value="DE" /> Northwest
						<br /><input id="region" type="checkbox" value="FL" /> Pacific
					</div>
				</div>
				<div class="label">Designation(s):</div>
				<div class="searchcontainer" style="height: auto;">
					<input id="designation" type="checkbox" value="AL" /> Liberal Arts Colleges (LAC)
					<br /><input id="designation" type="checkbox" value="AL" /> Annapolis Group of LAC
					<br /><input id="designation" type="checkbox" value="AL" /> Women's Only Colleges 
					<br /><input id="designation" type="checkbox" value="AL" /> HBCU
					<br /><input id="designation" type="checkbox" value="AL" /> Ivy League Schools 
					<br /><input id="designation" type="checkbox" value="AL" /> Public Ivies 
					<br /><input id="designation" type="checkbox" value="AL" /> Schools with Honors Colleges/Programs 
					<br /><input id="designation" type="checkbox" value="AL" /> State Flagship Schools 
					<br /><input id="designation" type="checkbox" value="AL" /> CTCL (Colleges That Change Lives)
					<br /><input id="designation" type="checkbox" value="AL" /> Stamps Scholarship Schools 
					<br /><input id="designation" type="checkbox" value="AL" /> Questbridge Schools 
				</div>
			</div>
		</div>


		<div class="griditem"></div>

		<!-- <div class="griditem" style="clear:both;" /> -->

		<div class="griditem" style="margin-top:80px;">


<!-- TABS -->
			<div class="w3-bar w3-white" style="position:sticky; top:60px; z-index:10; padding: 0">
				<button id="tabMySchools" tabclass="search" class="tablink w3-bar-item w3-button" style="margin-left: 0px">My Schools</button>
				<button id="tabSearchResults" tabclass="search" class="tablink w3-bar-item w3-button" style="margin-left: 0px">Search Results</button>
				<!-- {{ mySchoolCodes }} -->
			</div>


<!-- MY SCHOOLS -->
			<div id="contentMySchools" tabclass="search" class="tabcontent w3-container" style="padding: 0; width:100%; border: thin #AAA solid;">
				<div v-for="m in mySchoolList" class="w3-card">
					<div class="w3-container" style="padding:8px; margin-top: 0px;">
						<template v-if="m.Icon != ''">
							<img  class="sb_icon" @click="updateMySchoolList(m)" title="Click to remove from your school list" v-bind:src="m.Icon" height="54px" /> &nbsp;
						</template>
						<template v-else>
							<img class="sb_icon" @click="updateMySchoolList()" title="Click to remove from your school list" src="/cfpimages/space.png" height="54px" /> &nbsp;
						</template>
						<div style="float:left; margin-left: 8px; margin-top: 4px;">
								<h4 style="display:inline; font-weight:bold;" id="sb_schoolname">
<input style="display:inline" type="checkbox" @click="updateMySchoolList(m)" v-model="mySchoolCodes" v-bind:value="m.SchoolCode">
								{{ m.FullName }}</h4>
								<br /><h6 style="display:inline; color: #aab" id="sb_schoolname">{{ m.City }}, {{ m.State }}</h6>
						</div>
						<div style="float:right; margin-left: 12px; margin-top: 4px; border:thin dashed white">
							<h6 style="display:inline;">
							SAT Range: {{ m.satvr25 + m.satmt25 }}-{{ m.satvr75 + m.satmt75 }}
							<br />Admit/Yield: {{ parseFloat(m.admssn / m.applcn * 100).toFixed(0)+"%" }}/{{ parseFloat(m.enrlt / m.admssn * 100).toFixed(0)+"%" }}
							<!-- <br />Yield Rate: {{ parseFloat(m.enrlt / m.admssn * 100).toFixed(0)+"%" }} -->
							<br /><b>CFP Power Ranking: <span class="w3-tag w3-blue">{{ parseFloat((1-(m.admssn / m.applcn) + (m.enrlt / m.admssn)) * (m.satvr75 + m.satmt75) / 28).toFixed(0)+"%" }}</span></b>
							</h6>
						</div>
					</div>
				</div>
			</div>


<!-- SEARCH RESULTS -->
			<div id="contentSearchResults" tabclass="search" class="tabcontent w3-container" style="padding:0; width:100%; border: thin #AAA solid;">
				<div v-for="m in matches" class="w3-card">
					<div class="w3-container" style="padding:8px; margin-top: 0px;">
						<template v-if="m.Icon != ''">
							<img class="sb_icon" @click="updateMySchoolList(m)" title="Click to add to your school list" v-bind:src="'/cfpimages/school/icons/batch/'+m.Icon" height="54px" /> &nbsp;
						</template>
						<template v-else>
							<img class="sb_icon" @click="updateMySchoolList(m)" title="Click to add to your school list" class="sb_icon" src="/cfpimages/space.png" height="54px" /> &nbsp;
						</template>
						<div style="float:left; margin-left: 8px; margin-top: 4px;">
							<h4 style="display:inline; font-weight:bold;" id="sb_schoolname">

<input style="display:inline" type="checkbox" @click="updateMySchoolList(m)" v-model="mySchoolCodes" v-bind:value="m.SchoolCode">
							{{ m.FullName }}</h4>
							<br /><h6 style="display:inline; color: #aab" id="sb_schooladdress">{{ m.City }}, {{ m.State }}</h6>
						</div>
						<div style="float:right; margin-left: 12px; margin-top: 4px; border:thin dashed white">
							<h6 style="display:inline;">
							SAT Range: {{ m.satvr25 + m.satmt25 }}-{{ m.satvr75 + m.satmt75 }}
							<br />Admit/Yield: {{ parseFloat(m.admssn / m.applcn * 100).toFixed(0)+"%" }}/{{ parseFloat(m.enrlt / m.admssn * 100).toFixed(0)+"%" }}
							<!-- <br />Yield Rate: {{ parseFloat(m.enrlt / m.admssn * 100).toFixed(0)+"%" }} -->
							<br /><b>CFP Power Ranking: <span class="w3-tag w3-blue">{{ parseFloat((1-(m.admssn / m.applcn) + (m.enrlt / m.admssn)) * (m.satvr75 + m.satmt75) / 28).toFixed(0)+"%" }}</span></b>
							</h6>
						</div>
					</div>
				</div>
			</div>
			<blockquote><i>Please note: If your list is less than 8 schools, random schools will be added on the research screen</i></blockquote>
















			<!-- <div id="errormsg"></div> -->

		</div>

		<!-- <div id="leftsidenav" class="col-md-4"> -->
		<div class="griditem"></div>

	</div> <!-- /.grid-container -->


<!-- Footer -->
<div id="footer"></div>


</body>
</html>


<script>
	function test() {
		// alert("Hello");
		console.log(search);
		search.keyword = 'Alabama';
		search.getSchools();
	}

	function openTab() {
		console.log($(this));
		let tab = $(this).attr("id");
		console.log(tab);
		return;
		console.log("OpeningTab " + tabName);
		console.log("OpeningTab " + tabName);
		$(".tabcontent").css("display", "none");
		$("#content" + tabName).css("display", "block");
		$(".tablink").removeClass("w3-blue");
		$("#tab" + tabName).addClass("w3-blue");
	}
</script>

<script>
	search = vueSearch();
	enableTabs();
	setTimeout(function() { $("#tabMySchools").trigger("click") }, 1);
	// openTab("MySchools");	
</script>